        button,
        div,
        form,
        input {
            margin: 20px;
            border-color: orange;
        
        }

        body {

            background: url("assets\images\equalizer-153212.png");
            background-repeat: round;
            color: white;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
        }

        #add-dance {
            background: orange;
            color: white;
        }

        button {

            background: orange;
            color: white;
        }

        #jheader {
            color: white;
            background-color: black;
            text-align: center;
        }